*::-webkit-scrollbar {
	display: none;	/* skryje scrollbar pre Chrome a safari */
}

* {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}

.responsive {
    width: 60%;
    height: auto;
  }

.rozvrh{
  color: white;
}